

div{
    border: 1px solid blue;
    width: 50vw;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 20vw;
    background-image: url(https://www.newedentravel.com/car-rental/images/backround/rentalbg1.jpg);
    background-size: cover;
}
form{
    display: inline-block;
}
.button1{
    margin-top: 25vh;
    margin-left: 10vw;
    margin-right: 3vw;
    height: 35px;
    width: 110px;
    border-radius: 30px;
    border: none;
    transition: opacity 1s;
}
.button2{
    margin-top: 25vh;
    height: 35px;
    width: 110px;
    border-radius: 30px;
    border: none;
    transition: opacity 1s;

}
button:hover{
    cursor: pointer;
    opacity: 0.5;
}
